body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.container {
    text-align: center;
}
.button-row {
    margin: 10px 0;
}
.rating-button {
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    text-align:center;
    border-radius: 45%;

}
.rating-button.on {
    background-color: #0051ff;
    color: white;
}
.rating-button.off {
    background-color: #4b4342;
    color: white;
}